
div#wrapper{
  max-width:1200px
  margin-left:auto;
  margin-right:auto;

}


header {
  padding: 1em 2em 2em 2em;
  /* top right bottom left */
  background-color: black;
  background-image: url("images/logo.png");
  background-repeat: none;
  background-position: right top;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

header p{
  width: 200px;
  color:white;
}


*{
  margin:0;
  padding:0;
  border:none;
}

}
div.col{
  width:600px;
}
/* h1 img{
  width:200px;
} */
